html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%; }

#map-container { 
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

#map-canvas {
	height: 100%;
	width: 100%;
	z-index: 1;
}

#map-controls {
	height: 100%;
	width: 100%; 
	position: absolute;
}

#main-controls-container {
	height: 50%;
	width: 60%; 
	position: absolute;
	top: 2%;
	left: 50%;
	margin-left: -30%;
	font-family: 'ProximaNova-Regular';
	color: #ffffff;
	z-index: 2;
	pointer-events: none;
}

#control-bar {
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 3;
	pointer-events: auto;
	height: auto;
	padding: 6px 0;
}

#control-bar-button-container {
	width: 100%;
}

.control-bar-button {
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}

#info-button, #next-button {
	margin-right: 12px;

}

#toggle-btn.toggle-open img {
	transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
transform:rotate(180deg);
}

#display-container {
	width: 100%;
	height: 80%;
	background-color: rgba(0,0,0,0.7);
	z-index: 3;
	font-size: 1.5em;
	display: none;
	padding-bottom: 2.5em;
	pointer-events: auto;
}

#info-display, #image-display, #video-display{
	margin: 0 auto; 
	max-width: 700px;
}

.contro

#info-display {
	height: 100%;
	width: 100%;
	position: inherit;
	display: none;
	overflow-y: scroll;
	pointer-events: auto;
}

#info-display p {
	margin: 0px;
	padding: 1% 10%;
	font-size: .75em;
}


#image-display {
	height: 100%;
	width: 100%;
	position: inherit;
	display: none;
	overflow-y: scroll;
	pointer-events: auto;
}

#image-display img {
	height: 90%;
	width: 45%;
	margin: 2.5% 0;
	padding-left: 50%;
	margin-left: -20%
	
}

#control-bar-title-container{
	display: block; 
	width: 100%;
	text-align: center;
	font-size: 1.1em;
}

#video-display {
	height: 100%;
	width: 100%;
	position: inherit;
	display: none;
	pointer-events: auto;
}

#youtube-player-container {
    width: inherit;
    height: inherit;
}

#youtube-player-container > iframe {
    width: inherit;
    height: inherit;
}

::-webkit-scrollbar {
    background:transparent;
}

::-webkit-scrollbar-thumb {
   background-color: rgba(255,255,255,.5);
}

#zoom-controls {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 2px;
	margin-right: 2px;
}
#zoom-controls ul li {
	display: inline-block;
	float: left;
}

#next-controls {
	z-index: 2;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 12px;
	margin-left: 2px;
}

#alt-caption {margin: 2.5%;
font-size: .75em;}
.next, .prev {
	position: absolute;
	top: 50%;
	margin: 2.5%;
	color: white;
	z-index: 100;
	padding: 1em;
	background-color: rgba(100,100,100, .5);
	font-size: .5em;
}
.next {right: 0; top: 25%}
.prev {left: 0; top: 25%}

.prev.ss-navigateleft.left::before, .next.ss-navigateright.right::after {
color: white;
}

#zoom-controls img {
	padding: 6px;
}

#control-bar-menu {
	text-align: center;
	width: 100%;
}

#control-bar-menu li{
	display: inline-block;
}

.stop-info-box {
	font-family: 'ProximaNova-Regular', sans-serif;
	text-align: center;
	background-color: rgba(242, 244, 244, 0.85);
	padding: 10px;
	box-shadow: 8px 8px 5px #888888;
	width: 130px;
	font-size: 1.15em;
	opacity: 1;
	letter-spacing: -0.25px;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.info-title {
	font-weight: 600;
	font-size: 1.25em;
}

.stop-info-box:after {
	position: absolute;
	display: block;
	content: "";  
	border-color: transparent transparent rgba(242, 244, 244, 0.9) transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-20px;
	left: 75px;
}


.media {
	background-color: #c16622;
}

.locale {
	background-color: #800000;
}

.shadow{
	display: block;
	position: relative;
	/* background-color: #000; */
}
.shadow img {
	opacity: .5;
}

.shadow::before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px -10px 0px 0px rgba(0,0,0,.3);
    -webkit-box-shadow:inset 0px -10px 0px 0px rgba(0,0,0,.3);
    box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,.3);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
#control-bar-menu.engaged .shadow img{
	opacity: 1;
}

.shadow.active::before {
	-moz-box-shadow:inset 0px 0px 0px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 0px 50px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 0px 50px rgba(0,0,0,0);
}


@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) { 
  #control-bar-menu li img {
  	min-width: 88px;
  }
  #main-controls-container  {
		width: 96%;
		margin-left: -48%;
	}

}

@media screen and (min-width: 320px) and (max-width: 568px) {
	#map-container {
		height: 100%;
		width: 100%;
	}

	#control-bar-menu li {
		width: 14%;
	}
	#control-bar-menu li img {
		min-width: 44px;
	}
	#main-controls-container  {
		width: 96%;
		margin-left: -48%;
	}
	.stop-info-box {
		font-size: 1.5em;
	}
	
}
@media screen and (min-width: 569px) and (max-width: 1000px){
	#control-bar-menu li img{
			width: 16%;
	}
}

