html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline; }

	@viewport{
		zoom: 1.0;
		width: extend-to-zoom;
	}

	html, body {
		height: 100%; }

		#map-container { 
			height: 100%;
			position: relative;
			margin: 0 auto;
			overflow: auto;
		}

		#map-canvas {
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		#map-controls {
			height: 100%;
			width: 100%; 
			position: absolute;
		}

		#main-controls-container {
			height: 50%;
			width: 60%; 
			position: absolute;
			top: 2%;
			font-family: 'ProximaNova-Regular';
			color: #ffffff;
			z-index: 2;
			pointer-events: none;
			max-width: 800px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

		#control-bar {
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			z-index: 3;
			pointer-events: auto;
			height: auto;
			padding: 6px 0;
		}

		#control-bar-button-container {
			width: 100%;
		}

		.control-bar-button {
			margin-top: auto;
			margin-bottom: auto;
			display: inline-block;
		}

		#info-button, #next-button {
			margin-right: 12px;

		}

/* 
#toggle-btn.toggle-open img {
	transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari 
transform:rotate(180deg);
}
*/



#display-container {
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.7);
	z-index: 3;
	font-size: 1.5em;
	display: none;
	padding-bottom: 2.5em;
	pointer-events: auto;
	
}

#info-display, #image-display, #video-display{
	margin: 0 auto; 
	max-width: 700px;
}

#control-bar-button-container li{
	background-image: url('../images/control-bar-sprite.png');
	background-repeat: no-repeat;
	height: 88px;
	width: 19%;
	background-size: cover;
	max-width: 88px;
}

#image-btn{
	background-position: -88px 0px;
}
#info-btn{
	background-position: -176px 0px;
}
#prev-btn{
	background-position: -264px 0px;
}
#next-btn{
	background-position: -352px 0px;
}
#toggle-btn.toggle-open{
	background-position: -440px 0px;
}
#toggle-btn{
	background-position: -528px 0px
}

#info-display {
	height: 100%;
	width: 100%;
	position: inherit;
	display: none;
	overflow-y: scroll;
	pointer-events: auto;
}

#no-display {
	margin: 1em 3em;
	position: inherit;
	display: none;
	overflow-y: scroll;
	pointer-events: auto;
}


#info-display p {
	margin: 0px;
	padding: 1% 10%;
	font-size: .75em;
	line-height: 180%;
}


/* 

#image-display {
	height: 100%;
	width: 100%;
	position: inherit;
	display: none;
	overflow-y: scroll;
	pointer-events: auto;
}

#image-display img {
	width: 80%;
	margin: 2%;
	left:  auto;
}
*/

#control-bar-title-container{
	display: block; 
	width: 100%;
	text-align: center;
	font-size: 1.25em;
	line-height: 160%;
	font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#video-display {
	height: 100%;
	width: 100%;
	position: inherit;
	display: none;
	pointer-events: auto;
	position: relative;
	margin: 0 auto;
}

#next-video-window {
	width: 100%;
	height: inherit;
	position: absolute;
	background-color: rgba(50,50,50, 0.75);
	text-align: center;
	display: none;
	height: 100%;
	margin: 0;
	padding: 0;

}

#next-video-window ul {
	margin-top: 25%;
}

#next-video-window li{
	display: inline-block;
	font-family: 'ProximaNova-Bold', Helvetica Neue, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: .75em;
	line-height: 450%;
	background: url('../images/control-bar-sprite.png') top left no-repeat;
	padding: 2em 0;
	
}
#next-video-window li:first-child {
	margin-right: 15px;
	background-position: -599px 0;
}

#next-video-window li:last-child {
	background-position: -698px 0;
}

#youtube-player-container {
	width: inherit;
	height: inherit;
}

#youtube-player-container > iframe {
	width: inherit;
	height: inherit;
}

::-webkit-scrollbar {
	background:transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.5);
}

#zoom-controls {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 2px;
	margin-right: 2px;
	width: 40%;
}
#zoom-controls ul{
	float: right;
}

#zoom-controls ul li {
	display: inline-block;
	float: left;
	
}

#zoom-controls ul li img, #location-controls ul li img{
	max-width: 44px;
	height: auto;}

	#location-controls {
		z-index: 2;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: 2px;
		margin-left: 6px;
		display: inherit;
		width: 18%;
	}

	#location-controls ul li {
		display: inline-block;
		float: left;
	}

	#next-controls {
		z-index: 2;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: 12px;
		margin-left: 2px;
	}

	#alt-caption {margin: 2.5%;
		font-size: .75em;}
		.next, .prev {
			position: absolute;
			top: 71%;
			color: white;
			z-index: 100;
			padding: 1em 0.5em;
			background-color: rgba(255,255,255, .15);
			font-size: 0.85em;
		}
		.next {right: 0; }
		.prev {left: 0; }

		#image-display .ss-icon {
			color: white;
			color: rgba(255,255,255,.75);
		}

		#zoom-controls img {
			padding: 6px;
		}

		#control-bar-menu {
			text-align: center;
			width: 100%;
		}

		#control-bar-menu li{
			display: inline-block;
		}

		.stop-info-box {
			font-family: 'ProximaNova-Regular', sans-serif;
			text-align: center;
			background-color: rgba(242, 244, 244, 0.85);
			padding: 10px;
			box-shadow: 8px 8px 5px #888888;
			width: 130px;
			font-size: 1.15em;
			opacity: 1;
			letter-spacing: -0.25px;
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
		}

		.info-title {
			font-weight: 600;
			font-size: 1.25em;
		}

		.stop-info-box:after {
			position: absolute;
			display: block;
			content: "";  
			border-color: transparent transparent rgba(242, 244, 244, 0.9) transparent;
			border-style: solid;
			border-width: 10px;
			height:0;
			width:0;
			position:absolute;
			top:-20px;
			left: 75px;
		}


		.media {
			background-color: #857f70;
		}

		.media.active {
			background-color: #800308;
		}

		.locale {
			background-color: #857f70;
		}
		.locale:active {
			background-color: #6c675b;
		}


		#toggle-btn {
			background-color: #303030;
		}
		#toggle-btn.toggle-open{
			background-color: #505050;
		}
		#info-btn, #next-btn{
			/* margin-right: 12px; */
		}


		#control-bar-menu {
			opacity: .65;
		}

		.shadow::before {
			content:'';
			position:absolute;
			width:100%;
			height:100%;
			-moz-box-shadow:inset 0px -6px 0px 0px rgba(0,0,0,.3);
			-webkit-box-shadow:inset 0px -6px 0px 0px rgba(0,0,0,.3);
			box-shadow: inset 0px -6px 0px 0px rgba(0,0,0,.3);
			-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			-ms-transition: all .2s linear;
			transition: all .2s linear;
			left: 0;
		}

		.active .shadow::before {
			-moz-box-shadow:inset 0px 0px 0px 50px rgba(0,0,0,0.2);
			-webkit-box-shadow:inset 0px 0px 0px 50px rgba(0,0,0,0.2);
			box-shadow: inset 0px 0px 0px 50px rgba(0,0,0,0);
		}


		.shadow{
			display: block;
			position: relative;
			height: 100%;

		}
		#control-bar-menu.engaged{
			opacity: 1;
		}


@media screen and (min-width: 768px) {
	
	#display-container {
		min-height: 460px;
		max-height: 600px;
		overflow-y: scroll;
		_box-shadow: inset 0px -20px 40px rgba(0,0,0,1);
}
	
}

		@media screen and (min-width: 320px) and (max-width: 568px) {
			#map-container {
				height: 100%;
				width: 100%;
			}

			#control-bar-menu li {

			}
			#control-bar-menu li img {
				min-width: 44px;
			}
			#main-controls-container  {
				width: 96%;
			}
			.stop-info-box {
				font-size: 1.5em;
			}

			@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) { 

				#control-bar-menu li {
					max-height: 44px;
					max-width: 44px;
					border: 1px solid yellow;
				}
				#image-btn{
					background-position: -44px 0px;
				}
				#info-btn{
					background-position: -88px 0px;
				}
				#prev-btn{
					background-position: -132px 0px;
				}
				#next-btn{
					background-position: -176px 0px;
				}
				#toggle-btn.toggle-open{
					background-position: -220px 0px;
				}
				#toggle-btn{
					background-position: -264px 0px
				}		
				#main-controls-container  {
					width: 96%;
				}

			}

			@media screen and (min-width: 569px) and (max-width: 1000px){
				#control-bar-menu li{
					width: 18%;
				}

				#main-controls-container  {
					width: 96%;
				}
			}
